input {
    height: 2.5rem !important;
    background-color: white !important;
}
.btn {
    margin: 0 !important;
}
.form-control {
    border-radius: 0.3rem !important;
}

.input-group-append {
    margin-left: -6px !important;
}

.form-group .input-group-prepend, .input-group .input-group-prepend {
     margin-right: -6px;
}

.input-group-prepend {
    margin-right: -6px;
}
.input-group-prepend  .input-group-text {
    border-radius: 0.3rem 0 0 0.3rem;
    z-index: 100;
}


.input-group-append .input-group-text {
    border-radius: 0 0.3rem 0.3rem 0;
    z-index: 100;
}
