<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/head::header(~{::title},~{},~{},~{})}">
    <meta charset="UTF-8">
    <title>OAUTH·BOOT 授权</title>

</head>

<body>
<nav class="navbar navbar-expand-lg bg-primary show">
    <div class="container">

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">OAUTH-BOOT 授权</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">文档</span></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        帮助
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="card">
        <div class="card-header">
            <br>
            <h3 style="text-align: center">确认授权</h3>
        </div>
        <div class="card-body" style="text-align: center">
            <h3 th:text="${clientId}+' 请求授权，该应用将获取你的以下信息'"></h3>
            <p>昵称，头像和性别</p>
            授权后表明你已同意 <a href="#boot" style="color: #E9686B">OAUTH-BOOT 服务协议</a>

            <form method="post" action="/oauth/authorize">

                <input type="hidden" name="user_oauth_approval" value="true">
                <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}"/>

                <div th:each="item:${scopes}">
                    <input type="radio" th:name="'scope.'+${item}" value="true" hidden="hidden" checked="checked"/>
                </div>

                <button class="btn" type="submit"> 同意/授权</button>

            </form>
        </div>
    </div>

</div>


</body>
</html>
