<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="club.yuit.oauth.boot.mapper.UserMapper">


    <select id="findByUserName" resultType="User">
            select * from user where username=#{username}
    </select>
    <select id="findUserByMobile" resultType="User">
        select * from user where mobile= #{mobile}
    </select>


</mapper>
