<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head-import(title,links,style,script)">
        <meta charset="UTF-8">
        <title th:replace="${title}">OAUTH-BOOT</title>
        <link rel="stylesheet" th:href="@{../../statics/libs/now-ui/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{../../statics/libs/now-ui/css/now-ui-kit.min.css}"/>
        <link rel="stylesheet" href="/statics/styles/base.css"/>
        <link href="/statics/favicon.png" rel="icon" type="image/png">
        <link rel="shortcut icon" href="/statics/favicon.png" type="image/x-icon"/>
        <script src="/statics/libs/now-ui/js/core/jquery.min.js" type="application/javascript"></script>
        <script src="/statics/libs/now-ui/js/core/bootstrap.min.js" type="application/javascript"></script>
        <script src="/statics/libs/now-ui/js/now-ui-kit.js" type="application/javascript"></script>
        <script src="/statics/libs/layer/layer.js" type="application/javascript"></script>
        <th:block th:replace="${links}"/>
        <th:block th:replace="${style}"/>
        <th:block th:replace="${script}"/>
    </head>
</html>
