<div  xmlns:th="http://www.thymeleaf.org" th:fragment="header(index)">
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="javascript:void(0)">OAUTH-BOOT</a>
            </div>

            <div class="collapse navbar-collapse">
                <div class="ml-auto">
                    <a href="/auth/login" class="btn btn-link btn-primary" style="color: white">登录</a>
                </div>
            </div>
        </div>
    </nav>
</div>
